# Hasil kompilasi C
*.o
*.out
backend/mint-rt-backend

# Dependensi dan build frontend
node_modules/
dist/

# Log dan file sementara
*.log
*.tmp

# Editor
.vscode/
backend/test_scheduler
backend/test_logger
backend/test_utils
backend/test_autosched
backend/test_history
